@import url(https://fonts.googleapis.com/css?family=Neucha:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&display=swap);





body {
  font-family: Barlow;
}
.display-1 {
  font-family: 'Neucha', handwriting;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.64rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.1rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.96rem;
}
.display-4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.3rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 3.68rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.32rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #5263b8 !important;
}
.bg-success {
  background-color: #f1a631 !important;
}
.bg-info {
  background-color: #fb7522 !important;
}
.bg-warning {
  background-color: #4da92e !important;
}
.bg-danger {
  background-color: #ff4e4e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #5263b8 !important;
  border-color: #5263b8 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #374486 !important;
  border-color: #374486 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #374486 !important;
  border-color: #374486 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #4580c5 !important;
  border-color: #4580c5 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4580c5 !important;
  border-color: #4580c5 !important;
}
.btn-info,
.btn-info:active {
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #cd5104 !important;
  border-color: #cd5104 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #cd5104 !important;
  border-color: #cd5104 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f1a631 !important;
  border-color: #f1a631 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #c87f0e !important;
  border-color: #c87f0e !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #c87f0e !important;
  border-color: #c87f0e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4da92e !important;
  border-color: #4da92e !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #303b74;
  color: #303b74;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #5263b8;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #5263b8 !important;
  border-color: #5263b8 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #3974b7;
  color: #3974b7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #7fa8d7;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #b44703;
  color: #b44703;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #fb7522;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #b0700c;
  color: #b0700c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #f1a631;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f1a631 !important;
  border-color: #f1a631 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #285918;
  color: #285918;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #4da92e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4da92e !important;
  border-color: #4da92e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #e70000;
  color: #e70000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff4e4e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #000000 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #5263b8 !important;
}
.text-secondary {
  color: #7fa8d7 !important;
}
.text-success {
  color: #f1a631 !important;
}
.text-info {
  color: #fb7522 !important;
}
.text-warning {
  color: #4da92e !important;
}
.text-danger {
  color: #ff4e4e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #303b74 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3974b7 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #b0700c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b44703 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #285918 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e70000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fb7522;
}
.alert-warning {
  background-color: #4da92e;
}
.alert-danger {
  background-color: #ff4e4e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #5263b8;
  border-color: #5263b8;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #5263b8;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #acb5dd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fef9f0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff2ea;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #93db7b;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #5263b8;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #5263b8;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #5263b8;
  border-bottom-color: #5263b8;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #5263b8 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #7fa8d7 !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-rIyXqSgtJT {
  background-image: url("../../../assets/images/agencia-digital-colombia-1351x910.png");
}
.cid-rIyXqSgtJT .container-fluid {
  position: relative;
}
.cid-rIyXqSgtJT .page-title-content {
  width: 100%;
}
.cid-rIyXqSgtJT .page-title-content .mbr-iconfont {
  font-size: 55px;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin-top: -10px;
  color: #f1a631;
}
.cid-rIyXqSgtJT .page-title-content .mbr-iconfont:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .cid-rIyXqSgtJT .page-title-content {
    text-align: center;
  }
}
.cid-rIyXqSgtJT .title {
  letter-spacing: 0.8px;
  margin-top: 24px;
  font-weight: 300;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}
.cid-rIyXqSgtJT a.text-white:hover,
.cid-rIyXqSgtJT a.text-white:focus {
  color: #000 !important;
}
.cid-rIyXqSgtJT .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-rPVmepCqBa {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rPVmepCqBa img {
  width: 90%;
}
.cid-rPVmepCqBa h3 {
  line-height: 1;
  padding-left: 3.9rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.cid-rPVmepCqBa h3:after {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-rPVmepCqBa h3::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 9px;
}
.cid-rPVmepCqBa h3:hover:after,
.cid-rPVmepCqBa h3:focus:after {
  animation-duration: 1s;
  animation-name: slidein;
}
.cid-rPVmepCqBa h3:hover:before,
.cid-rPVmepCqBa h3:focus:before {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: slideout;
}
.cid-rPVmepCqBa h2 {
  padding-left: 4rem;
}
.cid-rPVmepCqBa h2 .wrap:before {
  content: "";
  position: absolute;
  background: currentColor;
  top: 15%;
  left: -1.5rem;
  width: 70px;
  height: 2px;
}
.cid-rPVmepCqBa .img1 {
  top: -6%;
}
@media (max-width: 1200px) {
  .cid-rPVmepCqBa h2 .wrap::before {
    top: 12%;
    left: 0rem;
    width: 60px;
  }
}
@media (max-width: 992px) {
  .cid-rPVmepCqBa img {
    width: 100%;
  }
  .cid-rPVmepCqBa .pb-5 {
    padding-bottom: 1rem !important;
  }
  .cid-rPVmepCqBa h2 {
    line-height: 3rem;
    padding-left: 0;
  }
  .cid-rPVmepCqBa h2 .wrap::before {
    display: none;
  }
  .cid-rPVmepCqBa h3 {
    padding-left: 15px;
  }
  .cid-rPVmepCqBa .align-left {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .cid-rPVmepCqBa h2 {
    padding-left: 0;
  }
  .cid-rPVmepCqBa h2 .wrap::before {
    display: none;
  }
  .cid-rPVmepCqBa h3 {
    margin: auto 0;
  }
  .cid-rPVmepCqBa p {
    margin-top: 1rem;
    padding: 1rem;
  }
  .cid-rPVmepCqBa .align-left {
    padding: 1rem;
  }
  .cid-rPVmepCqBa .icon-wrap {
    margin: auto 0;
  }
}
.cid-rPVmepCqBa .mbr-iconfont {
  color: #5263b8;
  font-size: 4rem;
}
@media (max-width: 576px) {
  .cid-rPVmepCqBa .mbr-section-title {
    padding-bottom: 0 !important;
  }
  .cid-rPVmepCqBa .mbr-section-subtitle {
    padding-left: 0;
    margin-bottom: 30px;
  }
  .cid-rPVmepCqBa .text2 {
    margin-top: 0px;
    padding-top: 8px;
  }
}
.cid-rPV8xs5jPx {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rPV8xs5jPx p {
  line-height: 1.6;
}
.cid-rPV8xs5jPx .card-box {
  width: -webkit-fill-available;
}
.cid-rPV8xs5jPx .card-img {
  width: auto;
}
.cid-rPV8xs5jPx .card-img span {
  font-size: 96px;
  padding: 0.6rem;
  margin: 0 1rem;
  border-radius: 8px;
}
.cid-rPV8xs5jPx .mbr-iconfont {
  font-size: 1.5rem !important;
}
.cid-rPV8xs5jPx .card-wrapper {
  display: flex;
  flex-direction: row;
}
.cid-rPV8xs5jPx .card {
  height: 100%;
  margin: auto;
}
.cid-rPV8xs5jPx img {
  width: 100%;
  heigth: auto;
}
.cid-rPV8xs5jPx .card-title1 {
  color: #073b4c;
}
.cid-rPV8xs5jPx .mbr-text1 {
  color: #767676;
}
.cid-rPV8xs5jPx .card-title2 {
  color: #7f1933;
}
.cid-rPV8xs5jPx .mbr-text2 {
  color: #767676;
}
@media (max-width: 576px) {
  .cid-rPV8xs5jPx .card-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 0!important;
  }
  .cid-rPV8xs5jPx .card-img {
    order: 1;
  }
  .cid-rPV8xs5jPx .card-box {
    order: 2;
  }
}
.cid-rQLDVG3eBi {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #0d0f1c;
}
.cid-rQLDVG3eBi .container {
  margin-right: auto !important;
  margin-left: auto !important;
}
.cid-rQLDVG3eBi .image-wrapper {
  max-width: 200%;
  z-index: 1;
  position: absolute;
  top: -10%;
  left: 50%;
}
.cid-rQLDVG3eBi .image-wrapper .img1 {
  max-width: 200%;
}
.cid-rQLDVG3eBi .main-phrase {
  z-index: 7;
  position: relative;
  margin-bottom: 150px;
}
.cid-rQLDVG3eBi .link-wrap {
  z-index: 9000;
}
.cid-rQLDVG3eBi .link-wrap a {
  z-index: 9000;
}
@media (max-width: 992px) {
  .cid-rQLDVG3eBi .sep {
    display: none;
  }
  .cid-rQLDVG3eBi .mbr-iconfont {
    display: none;
  }
}
@media (max-width: 768px) {
  .cid-rQLDVG3eBi .link-wrap {
    text-align: center;
  }
}
.cid-rQLDVG3eBi a {
  display: inline-block;
  color: #ff8f00 !important;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-rQLDVG3eBi a:not(:first-child) {
  margin-left: 20px;
}
.cid-rQLDVG3eBi a:after {
  position: absolute;
  margin-top: 7px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-rQLDVG3eBi a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 7px;
}
.cid-rQLDVG3eBi a:hover:after,
.cid-rQLDVG3eBi a:focus:after {
  animation-duration: 1s;
  animation-name: slidein;
}
.cid-rQLDVG3eBi a:hover:before,
.cid-rQLDVG3eBi a:focus:before {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-name: slideout;
}
.cid-rQLDVG3eBi .separator {
  margin-bottom: 1px;
  margin-top: 30px;
}
.cid-rQLDVG3eBi .separator .sep-holder {
  width: 100%;
  height: 2px;
  position: relative;
  -webkit-box-flex: 1;
  min-width: 10%;
}
.cid-rQLDVG3eBi .separator .sep-holder .sep-line {
  border-top-width: 2px;
  border-color: #e7e7e7;
  height: 1px;
  border-top: 2px solid #ebebeb;
  position: relative;
  top: 1px;
}
.cid-rQLDVG3eBi .mbr-iconfont {
  font-size: 2rem;
}
.cid-rQLDVG3eBi .text {
  z-index: 10;
}
.cid-rQLBcSfzH8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rQLBcSfzH8 .container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.cid-rQLBcSfzH8 .subtitle {
  color: #767676;
}
.cid-rQLBcSfzH8 .row {
  justify-content: center;
  padding: 0 !important;
}
.cid-rQLBcSfzH8 .title {
  max-width: 100%;
  margin: auto;
  padding-top: 2rem;
}
.cid-rQLBcSfzH8 .text-wrap {
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  opacity: 0;
  pointer-events: all;
  display: none;
}
.cid-rQLBcSfzH8 .card {
  padding: 0;
}
.cid-rQLBcSfzH8 .card .card-block {
  height: 600px;
  position: relative;
}
.cid-rQLBcSfzH8 .card .card-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000000;
  transition: 0.2s;
  pointer-events: none;
  left: 0;
  top: 0;
}
.cid-rQLBcSfzH8 .card .card-block .photo {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.cid-rQLBcSfzH8 .card .card-block .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-rQLBcSfzH8 .card:hover .card-block::before,
.cid-rQLBcSfzH8 .card:focus .card-block::before {
  opacity: 0.6;
  background-color: #121525;
}
.cid-rQLBcSfzH8 .card:hover .text-wrap,
.cid-rQLBcSfzH8 .card:focus .text-wrap {
  display: block;
  opacity: 1;
  transition: 1s opacity;
}
.cid-rQLBcSfzH8 .card:hover h6,
.cid-rQLBcSfzH8 .card:focus h6 {
  transition: 0.3s opacity;
  opacity: 0.5;
}
.cid-rQLBcSfzH8 .card-hover-text {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-rQLBcSfzH8 .card-block::before {
    opacity: 0.8 !important;
    background-color: #121525;
    border: 1px solid #767676;
  }
  .cid-rQLBcSfzH8 .text-wrap {
    display: block;
    opacity: 1;
    transition: 1s opacity;
  }
  .cid-rQLBcSfzH8 h6 {
    transition: 0.3s opacity;
    opacity: 0.5;
  }
  .cid-rQLBcSfzH8 .text-wrap2 {
    display: none;
  }
}
.cid-rQLBcSfzH8 .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-rQLBcSfzH8 .mbr-section-btn a {
  display: inline-block;
  color: #000000;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-rQLBcSfzH8 .mbr-section-btn a:after {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-rQLBcSfzH8 .mbr-section-btn a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 9px;
}
.cid-rQLBcSfzH8 .mbr-section-btn a:hover:after,
.cid-rQLBcSfzH8 .mbr-section-btn a:focus:after {
  animation-duration: 1s;
  animation-name: slidein;
}
.cid-rQLBcSfzH8 .mbr-section-btn a:hover:before,
.cid-rQLBcSfzH8 .mbr-section-btn a:focus:before {
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-name: slideout;
}
.cid-rQLBcSfzH8 a.text-white:hover,
.cid-rQLBcSfzH8 a.text-white:focus {
  color: #ffffff !important;
}
.cid-rPV8fKi1rC {
  background-image: url("../../../assets/images/marketing-digital-colombia-1351x901.jpg");
  background-position: right;
}
.cid-rPV8fKi1rC .wrapper {
  position: relative;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  padding: 2.5rem 2.5rem;
}
.cid-rPV8fKi1rC .wrapper:before {
  content: "";
  background: #ffffff;
  position: absolute;
  bottom: 0;
  width: calc(90% - 130px);
  height: 3px;
  right: 0;
}
.cid-rPV8fKi1rC .wrapper:after {
  content: "";
  background: #ffffff;
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 3px;
  left: 0;
}
.cid-rPV8fKi1rC img {
  position: absolute;
  left: 10%;
  bottom: -45px;
  width: 130px;
}
@media (max-width: 767px) {
  .cid-rPV8fKi1rC .wrapper {
    padding: 1rem 1.5rem;
  }
}
.cid-rIyXvEz5Ak {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #0d0f1c;
}
.cid-rIyXvEz5Ak .mbr-text {
  color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-rIyXvEz5Ak p {
    text-align: center;
  }
  .cid-rIyXvEz5Ak .row {
    justify-content: center;
  }
}
